@charset "utf-8";

#footer{
  border-top: 1px solid #e9e9e9;
  background-color: #fff;
}

#footer .promise{
  border-bottom: 1px solid #e9e9e9;
}

#footer .promise .item{
  height: 151px ;
  width: 275px;
  float: left;
  position: relative;
}

#footer .promise .item .incn{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  font-size: 20px;
  font-weight: 700;
  float: left;
  text-align: center;
  line-height: 48px;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 20px;
}

#footer .promise .item .title{
  font-size:18px;
  position: absolute;
  top: 55px;
  left: 85px;
}

#footer .promise .item .desc{
  font-size: 14px;
  position: absolute;
  top: 80px;
  left: 85px;
}



