@charset "utf-8";

#header .ad{
  overflow: hidden;
  min-width: 1100px;
}

#header .ad img{
  /* 图片居中 */
  position: relative;
  transform: translate(-50%);
  left: 50%;
}


#header .nav{
  background-color: #000;
  height: 30px;
  line-height: 30px;
}

#header .nav .wrap .nav-left{
  float: left;
}

#header .nav,#header .nav .wrap a{
  color: #999999;
}

#header .nav-left a{
  margin-left: 28px;
}

#header .group1,#header .group2,#header .group2 ul li{
  display: inline-block;
}

#header .group1 a:hover{
  color: #fff;
}


#header .nav-right{
  float: right;
}

#header .nav-right a{
  margin-left: 12px;
  margin-right: 16px;
}

#header .nav-right .group2 li:hover{
  background-color: #fff;
}

#header .nav-right .group2 li:hover a{
  color: #ff1e32;
}

#header .nav-right .group2 li:hover .arrows{
  border-top-color: #ff1e32;
  transform: rotate(315deg);
  margin-bottom: 0;
  transition: all 300ms ease-in;
}

