@charset "utf-8";


#header .ad{
  overflow: hidden;
  min-width: 1100px;
}

#header .ad img{
  /* 图片居中 */
  position: relative;
  transform: translate(-50%);
  left: 50%;
}


#header .nav{
  background-color: #000;
  height: 30px;
  line-height: 30px;
}

#header .nav .wrap .nav-left{
  float: left;
  position: relative;
}

#header .nav,#header .nav .wrap a{
  color: #999999;
}

#header .nav-left a{
  margin-left: 28px;
}



#header .nav-left .code{
  display: none;

  background-color: #fff;
  z-index: 9;
  position: absolute;
  font-size: 13px;

  border: 1px solid #aaa;
  padding: 5px 5px 5px;

  height: 150px;

  top: 30px;
  left: 120px;
  transform: translate(-50%);
  margin-left: 50%;

  color: #333;
  text-align: center;
}

#header .nav-left .code span:nth-of-type(2),#header .nav-left .code span:nth-of-type(3){
  display: block;
  height: 16.8px;
  line-height: 16.8px;
}

#header .nav-left .arrow1{
  position: absolute;
  top: -5px;
  /* left: 58px; */
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 8px;
  height: 8px;
  background-color: #fff;

  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;

  transform: rotate(45deg);
}

#header .nav-left .phone:hover+.code{
  display: block;
}

#header .group1,#header .group2,#header .group2 ul li{
  display: inline-block;
}

#header .group1 a:hover{
  color: #fff;
}


#header .nav-right{
  float: right;
}

#header .nav-right a{
  margin-left: 12px;
  margin-right: 16px;
}

#header .nav-right .group2 li:hover{
  background-color: #fff;
}

#header .nav-right .group2 li:hover a{
  color: #ff1e32;
}

#header .nav-right .group2 li:hover .arrows{
  border-top-color: #ff1e32;
  transform: rotate(315deg);
  margin-bottom: 0;
  transition: all 300ms ease-in;
}



/* 搜索块 */
#header .operation{
  height: 100px;
  position: relative;
  
}

#header .operation a{
  /* height: 100px; */
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
}

#header .operation .serach{
  position: absolute;
  /* float: right; */
  top: 0;
  bottom: 0;
  margin: auto 0;

  right: 200px;

  border-radius: 50px;
  width: 473px;
  height: 40px;
  border: 2px solid #ff2337;


  background-color: #fff;
}

#header .operation .serach input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 400px;
  height: 24px;
}

#header .operation .serach .left-search{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url("../img/kl-sprite-01.png");
  background-position: -466px -667px;
}

#header .operation .serach .right-search{
  position: absolute;
  width: 60px;
  height: 40px;
  border-radius: 40px;
  right: -2px;
  background: url(../img/icon-search.png) no-repeat center center #ff2337;
}

#header .operation .cart{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 55px;

  width: 114px;
  height: 40px;
  border: 2px solid #ff2337;
  border-radius: 50px;
}

#header .operation .cart a{
  position: absolute;

  width: 114px;
  height: 40px;
}


#header .operation .cart i{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  width: 20px;
  height: 20px;
  left: 15px;
  background-image: url(../img/shopcart-icon.png);
}

#header .operation .cart span{
  float: right;
  margin-top: 10px;
  margin-right: 30px;

  font-size: 14px;
  color: #333;
}


/* 大图顶上导航栏部分 */

#header .nav-bar {
  display: flex;

  height: 40px;
}

#header .nav-bar .classification{
  position: relative;
  width: 164px;
  height: 42px;
  background: linear-gradient(90deg,red,#ff3264);
  font-size: 14px;

  text-align: center;
  line-height: 42px;

}



#header .nav-bar .classification span{
  color: #fff;

  line-height: 40px;
}

#header .nav-bar .classification ul{
  position: absolute;
  width: 164px;

  top: 40px;
  display: block;
  z-index: 1;
}

#header .nav-bar .classification ul li{
  width: 164px;
  height: 40px;
  background: linear-gradient(90deg,red,#ff3264);

  position: relative;

  border-bottom: 1px solid #ff5160;

}

#header .nav-bar .classification ul li a{
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}

#header .nav-bar .classification ul li:hover{
  background:#fff;
}

#header .nav-bar .classification ul li:hover .normal{
  display: none;
}

#header .nav-bar .classification ul li:hover .active{
  display: block;
}


#header .nav-bar .classification ul li:hover a{
  color: #ff1e32;
}

#header .nav-bar .classification ul li:hover .arrow{
  display: none;
}

#header .nav-bar .classification ul li:hover .arrow-active{
  display: block;
}


#header .nav-bar .classification .normal{
  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 20px;
}

#header .nav-bar .classification .active{
  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 20px;
  display: none;
}



#header .nav-bar .classification .arrow{
  width: 16px;
  height: 16px;
  color: #fff;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 20px;
}

#header .nav-bar .classification .arrow-active{
  width: 16px;
  height: 16px;
  color: #fff;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 20px;
  display: none;
}




#header .nav-bar ul{
  display: inline-block;
  display: flex;

  width: 773.36px;
  height: 22.4px;
  font-size: 15px;
  font-weight: 700;
  color: #333;

  justify-content: space-evenly;
}

#header .nav-bar ul li{
  line-height: 40px;
}

#header .nav-bar ul li:hover{
  cursor: pointer;

  color: #ff1e32;
}







/* 大图部分 */

#header .top-category .container{
  /* height: 496px; */
  overflow: hidden;
}

#header .top-category .container a img{
  position: relative;
  right: -50%;
  transform: translate(-50%,0);
  height: 496px;
}


/* 大图底部 */
#header .top-category .container .bottom-bar{
  height: 45px;

  position: relative;
  top: -45px;
  left: 0;
  right: 0;

  overflow: hidden;
}


#header .top-category .container .bottom-bar ul{
  display: flex;
  line-height: 45px;
}

#header .top-category .container .bottom-bar .wrap{
  display: flex;
  position: relative;
}


#header .top-category .container .bottom-bar .bottom-bar-right{
  line-height: 45px;
  position: absolute;
  right: 20px;
  
}

#header .top-category .container .bottom-bar .bottom-bar-right a{
  color: #fff;
}
#header .top-category .container .bottom-bar .bottom-bar-right a::before{
  position: relative;
  top: 5px;
  left: 3px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon-service-right-iphone.png);
}

#header .top-category .container .bottom-bar ul li{
  margin-right: 45px;
}

#header .top-category .container .bottom-bar ul li a{
  color: #fff;
  margin-left: 8px;
}

#header .top-category .container .bottom-bar ul li i{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
}

#header .top-category .container .bottom-bar a:hover{
  text-decoration: underline;
}

#header .top-category .container .bottom-bar .blur{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  
  background: url("../img/banner.jpg") center bottom;
  filter: blur(8px);
}


















