@charset "utf-8";


#header .ad{
  overflow: hidden;
  min-width: 1100px;
}

#header .ad img{
  /* 图片居中 */
  position: relative;
  transform: translate(-50%);
  left: 50%;
}


#header .nav{
  background-color: #000;
  height: 30px;
  line-height: 30px;
}

#header .nav .wrap .nav-left{
  float: left;
}

#header .nav,#header .nav .wrap a{
  color: #999999;
}

#header .nav-left a{
  margin-left: 28px;
}

#header .group1,#header .group2,#header .group2 ul li{
  display: inline-block;
}

#header .group1 a:hover{
  color: #fff;
}


#header .nav-right{
  float: right;
}

#header .nav-right a{
  margin-left: 12px;
  margin-right: 16px;
}

#header .nav-right .group2 li:hover{
  background-color: #fff;
}

#header .nav-right .group2 li:hover a{
  color: #ff1e32;
}

#header .nav-right .group2 li:hover .arrows{
  border-top-color: #ff1e32;
  transform: rotate(315deg);
  margin-bottom: 0;
  transition: all 300ms ease-in;
}

/* 搜索块 */
#header .operation{
  height: 100px;
  position: relative;
  
}

#header .operation a{
  /* height: 100px; */
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
}

#header .operation .serach{
  position: absolute;
  /* float: right; */
  top: 0;
  bottom: 0;
  margin: auto 0;

  right: 200px;

  border-radius: 50px;
  width: 473px;
  height: 40px;
  border: 2px solid #ff2337;


  background-color: #fff;
}

#header .operation .serach input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 400px;
  height: 24px;
}

#header .operation .serach .left-search{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url("../img/kl-sprite-01.png");
  background-position: -466px -667px;
}

#header .operation .serach .right-search{
  position: absolute;
  width: 60px;
  height: 40px;
  border-radius: 40px;
  right: -2px;
  background: url(../img/icon-search.png) no-repeat center center #ff2337;
}

#header .operation .cart{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 55px;

  width: 114px;
  height: 40px;
  border: 2px solid #ff2337;
  border-radius: 50px;
}

#header .operation .cart a{
  position: absolute;

  width: 114px;
  height: 40px;
}


#header .operation .cart i{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  width: 20px;
  height: 20px;
  left: 15px;
  background-image: url(../img/shopcart-icon.png);
}

#header .operation .cart span{
  float: right;
  margin-top: 10px;
  margin-right: 30px;

  font-size: 14px;
  color: #333;
}








